@import url('https://fonts.googleapis.com/css?family=Arvo|PT+Sans|FontAwesome');
@import url("font-awesome.css");
/* ======================= main sizes ==========================*/
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .container {
   width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
}

a, a:hover {
	color: #40920a;
}

/* ======================= main css ===================== */
html {
	font-size: 16px;	
}

h2 {
	font-size: 1.7em;
}
body{
	font-family: "PT Sans", serif;
	background: url(../img/main_bg.jpg);
	background-position:center top;
	background-repeat: no-repeat;
	background-size: auto 460px;
	font-size: 1rem;
}

body:before {
	content: '';
	background: rgba(0,0,0,0.35);
	width: 100%;
	height: 460px;
	position: absolute;
	left: 0;
	top: 0;
	z-index: -1;

}

.not-front .main-container {
	background-color: white;
}

.row > section > h1 {
	font-family: 'Arvo', serif;
	font-size: 2.25em;
	color: white;
	margin-top: -1.3em;
	text-transform: uppercase;
	font-weight: 800;
	border-bottom: none;
}


.button, .btn-primary, .form-submit, .input-group-btn{
	color: #333333;
	font-weight: 800;
	background: linear-gradient(to bottom, white, #9bd078);
	box-shadow: 0 2px 4px 0 #3c850d;
	text-shadow: 0 1px 0 white;
	border-radius: 4px;
	font-size: 1em;
}

ol.breadcrumb {
	display: none;
}

.cke_path {
	display: none;
}

/* ======================= nav bar ====================== */

.navbar {
	background: none;
	border: none;
}
/* ----------------------- secondary -------------------- */
.container-fluid.secondary {
	background: white;
}

.container-fluid.secondary .navbar-header {
	position: absolute;
}

.container-fluid.secondary .container .navbar-collapse {
	float: right;
}

.container-fluid.secondary .container .navbar-collapse > nav > ul > li {
	display: inline-block;
}
.container-fluid.secondary .container .navbar-collapse > nav > ul > li > a {
	padding: 10px 15px;
	text-transform: uppercase;
	color: #804100;
	font-weight: 600;
	font-family: "Arvo", serif;
	font-size: 0.8em;
}

.container-fluid.secondary .container .navbar-collapse > nav > ul > li > a:before {
	margin-right: 0.5em;
	color: #55ba13;
	font-family: FontAwesome;
}

/* ---------------------- main menu --------------------- */
.container-fluid.primary {
	background-color: rgba(85, 186, 19, 0.95);
}

.container-fluid.primary .container .navbar-collapse{
	float: right;
	padding-right: 0;
}

.container-fluid.primary .container .navbar-collapse > nav > ul > li {
	border-right: 1px solid #40920a;
}

.container-fluid.primary .container .navbar-collapse > nav > ul > li.last {
	border-right: none;
}

.container-fluid.primary .container .navbar-collapse > nav > ul > li.active > a {
	background-color: rgb(85, 186, 19);
}

.container-fluid.primary .container .navbar-collapse > nav > ul > li > a {
	padding: 10px 15px;
	color: white;
	font-family: "Arvo", serif;
	font-size: 1em;
}

/* ========================= main content ======================= */
.front .main-container {
	margin-top: 140px;
}
.not-front .main-container {
	margin-top: 150px;
}
/* ------------------------- frontpage -------------------------- */

.front #block-user-login {
	background-color: rgba(155, 208, 120, 0.95);
	width: 40%;
	display: inline-block;
}

.front #block-user-login > h2{
	color: white;
	margin-top: -1em;
	font-weight: 800;
	font-family: "Arvo", serif;
}

.front #block-user-login .my-form-wrapper {
	margin: 20px;
}

.front #block-user-login .my-form-wrapper .form-actions {
	float: left;
}

.front #block-user-login .my-form-wrapper .form-actions > button > span {
	display: none;
}


.front #block-user-login .my-form-wrapper > ul {
	margin-left: 60px;
	margin-bottom: 0;
	list-style: none;
	font-size: 0.8em;
	
}

.front #block-user-login .my-form-wrapper > ul > li > a {
	color: #333;
}

/*---------------------------------- exposed filters --------------------------- */
.front.not-logged-in #block-nuss-block-frontpage-filters {
	background-color: rgba(85, 186, 19, 0.95);
	width: 58%;
	display: inline-block;
	float: right;
}

.front.logged-in #block-nuss-block-frontpage-filters {
	background-color: rgba(85, 186, 19, 0.95);
	width:80%;
	float: none;
	margin-left: auto;
	margin-right: auto;
}

.front #block-nuss-block-frontpage-filters > h2{
	color: white;
	margin-top: -1em;
	font-weight: 800;
	font-family: "Arvo", serif;
}

.front #block-nuss-block-frontpage-filters > form {
	margin: 20px;
}
	
.front #block-nuss-block-frontpage-filters .form-item > label {
	display: none;
}
.front #block-nuss-block-frontpage-filters .form-item > button.edit-submit--2 {
/*	font-size: 30px;*/
}

.front #block-nuss-block-frontpage-filters .form-control {
	font-size: 1em;
}
/* ----------------------------------- top vacancies ------------------------ */

.front .row .region {

}
.front .row .region #block-views-vacancies-block-1 {
	border: 1px solid #9bd078;
	padding: 0 20px;
	margin-top: 130px;
}

.front .row .region #block-views-vacancies-block-1 > h2 {
	font-family: 'Arvo', serif;
	color: #40920a;
	text-transform: uppercase;
	font-size: 2.1em;
	font-weight: 800;
	margin-top: -0.6em;
	display: inline-block;
	padding-left: 10px;
	padding-right: 10px;
	background-color: white;
}

.front .row .region #block-views-vacancies-block-1 .row .col .views-field-title .field-content > a {
	color: #804100;
	font-family: "Arvo", sefir;
	font-size: 1.5em;
	font-weight: 800;	
}

.front .row .region #block-views-vacancies-block-1 .row .col .field-content > a {
	color: #40920a;
}

.front .row .region #block-views-vacancies-block-1 .more-link {
	font-family: 'Arvo', serif;
	font-size: 1.25em;
	font-weight: 800;
	background-color: white;
	padding: 0 5px;
	float: right;
	margin-bottom: -0.6em;
}


.front .row .region #block-views-vacancies-block-1 .more-link > a {
	color: #40920a;
}

.front .row .view-vacancies .row:nth-child(n+2) .col:before {
	content: "_________";
	color: #ccc;
}

.front .row .view-vacancies .row:nth-child(n+2) .views-field-title {
	margin-top: 15px;
}

/* --------------------------- top vacancies pagination ----------------------- */
.front .text-center .pagination {
	margin-bottom: -2.3em;
	margin-right: 15px;
}

.front .text-center .pagination >  .active > span {
	background-color: #9bd078;
	border-color: #9bd078;
}

.front .text-center .pagination > li > a {
	color: #9bd078;
	border: 1px solid #9bd078;
}

/* =================================== footer ================================= */

.footer {
	background-color: #9bd078;
	color: white;
	margin-top: 50px;
	padding-top: 0;
}
.footer .panel-panel {
	padding-left: 22px;
	padding-right: 22px;
}

.footer .panel-panel .inside {
	margin-left: 0;
	margin-right: 0;
}

.footer .panel-panel:before {
    height: 3px;
    display: block;
    width: 50px;
    background: white;
    margin-top: 2px;
    content: '';
	padding-left: 15px;
}

.footer .pane-block > h2,
.footer .pane-custom > h2 {
	font-family: 'Arvo', serif;
	font-size: 1em;
	font-weight: 600;
	color: white;
}

.footer .pane-block .field-content > a {
	color: white;
}

.footer .panel-panel .pane-content > p > a {
	color: white;
}

.footer #mini-panel-footer_panel {
	padding-bottom: 10px;
}

#block-copyright-block-copyright-block {
	border-top: 1px solid white;
	padding-top: 15px;
	font-family: 'Arvo', serif;
	font-size: 1em;
}


/* =========================== vacancies =========================== */

.page-vacancies .row {
	border: 1px solid #9bd078;
}

/* --------------------------- left side --------------------------- */
.page-vacancies .col-sm-3 {
	width: 33%;
	background-color: rgb(155, 208, 120);
	padding-right: 10px;
}

.page-vacancies .col-sm-3 .views-exposed-widgets .views-exposed-widget {
	float: none;
}

.page-vacancies .col-sm-3 .views-exposed-form > button {
	display: none;
}

.page-vacancies .col-sm-3 .views-exposed-widgets.collapse {
	display: block;
}

.page-vacancies .col-sm-3 .clear-filters {
	font-size: 1.1em;
	margin: 10px 0;
}

.page-vacancies .col-sm-3 .clear-filters > a {
	color: #333;
	font-weight: 800;
	text-decoration: none;
}

.page-vacancies .col-sm-3 .clear-filters > a:before {
	margin-right: 0.5em;
	color: white;
	font-family: FontAwesome;
	content: "\f00d";
}

.page-vacancies .col-sm-3 .views-exposed-widget {
	border-top: 1px solid white;
	padding-right: 0;
}

.page-vacancies .row .region-sidebar-first .views-widget-filter-field_location_value > label, 
.page-vacancies .row .region-sidebar-first .views-widget-filter-field_category_tid > label {	
	font-family: "Arvo", serif;
	font-size: 1.4em;
	font-weight: 800;
	margin-left: 1em;
}
.page-vacancies .row .region-sidebar-first .form-item .form-type-bef-checkbox > input[type="checkbox"] {
	visibility: hidden;
}

.page-vacancies .row .region-sidebar-first .form-item .form-type-bef-checkbox > input[type="checkbox"]:checked:before {
	color: white;
	font-family: FontAwesome;
	content: "\f00c";
	visibility: visible;
}

.page-vacancies .row .region-sidebar-first .form-item .form-type-bef-checkbox > label {
	margin-left: 0.5em;
	cursor: pointer;
}

.page-vacancies .row .region-sidebar-first .views-submit-button {
	display: none;
}

/*--------------------------------- right side ------------------------------------------*/

.page-vacancies .col-sm-9 {
	width: 67%;
}

.page-vacancies .row > section > h1 {
	margin-left: -9em;
}

.page-vacancies .row .fake-header {
	display: none;
}


.page-vacancies .view-content {
	font-size: 1em;
}

.page-vacancies .view-content .views-field-field-company-logo {
	display: inline-block;
	vertical-align: top;
	width: 18%;
}
.page-vacancies .view-content .views-field-field-location {
	display: inline-block;
	vertical-align: top;
	width: 40%;
}

.page-vacancies .view-content .views-field-field-location .field-content > a.job-title {
	color: #804100;
	font-family: "Arvo", sefir;
	font-size: 1.25em;
	font-weight: 800;	
}

.page-vacancies .view-content .views-field-field-category {
	display: inline-block;
	vertical-align: top;
	width: 38%;
}

.page-vacancies .view-content .views-field-field-category .field-content > a.read-more-link {	
	font-weight: 800;
}

.page-vacancies .view-content .views-field-field-category .field-content > a.read-more-link:hover {	
	color: #804100;
}
.page-vacancies .view-content .views-field-field-category .field-content > a.read-more-link:after {	
	font-family: FontAwesome;
	margin-left: 0.3em;
	font-size: 0.8em;
	content: "\f0da";
}
.page-vacancies .col-sm-9 .view-content .views-row:not(.views-row-last) {
	border-bottom: 1px solid #ccc;
	padding-bottom: 15px;
	margin-bottom: 15px;
}

.page-vacancies .view-empty {
	font-size: 2em;
	text-align: center;
	margin-top: 20px;
}
/* ----------------------- pagination --------------------------- */
.page-vacancies .text-center .pagination {
	margin-bottom: -1em;
}

.page-vacancies .text-center .pagination >  .active > span {
	background-color: #9bd078;
	border-color: #9bd078;
}

.page-vacancies .text-center .pagination > li > a {
	color: #9bd078;
	border: 1px solid #9bd078;
}


/* =========================== Companies =============================== */










/* ========================== Contact us ================================ */

.page-node-51 .main-container {
	border: 1px solid #9bd078;
	color: #333;
}

.page-node-51 .form-actions {
	margin-bottom: 15px;
}

.page-node-51 .col-sm-12 .tabs--primary {
	display: none;
}

.page-node-51 .col-sm-12 .region > section > article > header {
	display: none;
}

.page-node-51 .node-webform .form-item .form-control {
	border-color: #9bd078;
}

.page-node-51 .node-webform .form-item .resizable-textarea .grippie {
	background-color: rgba(155, 208, 120, 0.5);
}

.page-node-51 span.thank-you {
	font-size: 2em;
	font-weight: 800;
}

.page-node-51 p.reply {
	margin-top: 15px;
}


/* ========================== Misc ============================= */

.page-user .col-sm-12 {
	border: 1px solid #9bd078;
}

.page-user .nav-tabs {
	border-bottom: 2px solid #9bd078;
}

.page-user .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
	background-color: #9bd078;
	color: white;
}

.page-user .form-control,
.page-user .resizable-textarea .cke_chrome {
	border-color: #9bd078;
}

.page-user .resizable-textarea .cke_chrome .cke_inner .cke_top,
.page-user .resizable-textarea .cke_chrome .cke_inner .cke_bottom {
	background-color: rgba(155, 208, 120, 0.5);
}

.page-user .resizable-textarea .cke_chrome .cke_inner .cke_bottom .cke_resizer {
	border-right-color: darkgreen;
}

.page-user:not(.page-user-register) .main-container {
	margin-bottom: 300px;
}

.page-user .form-actions > button {
	margin-bottom: 15px;
}

.page-user .form-actions .glyphicon-log-in {
	display: none;
}

.page-user .main-container {
	background-color: rgba(255, 255, 255, 0.95);
}

.page-user .main-container .filter-wrapper,
.page-user .main-container .help-block {
	display: none;
}

.page-user-14 .profile > h3,
.page-user-14 .profile > dl {
	display: none;
}

.page-user-33 .profile > h3,
.page-user-33 .profile > dl {
	display: none;
}

.front .row .alert-success {
	margin-bottom: 50px;
}

.terms {
	font-size: 0.9em;
	margin-bottom: 15px;
	vertical-align: bottom;
}

.not-logged-in .create-acc {
	float: right;
	text-align: right;
	width: 60%;
	border: 1px solid #9bd078;
	padding: 5px;
	margin-bottom: 15px;
}

.logged-in .create-acc,
.page-eform-entityform-to-vacancy-confirm .create-acc {
	display: none;
}

.note {
	font-size: 0.8em;
	margin-bottom: 15px;	
	float: right;
	margin-top: -3em;
}

/* ----------------------------- self profie ------------------------------- */
.page-user .profile .field-name-field-company-logo {
	float: right;	
}

.page-user .profile .field-name-field-company-name {
}

.page-user .profile .field-label {
	font-size: 1.2em;
	font-weight: 800;
	margin-bottom: 10px;
}

.page-user .profile .field-item {
	margin-bottom: 20px;
}

.page-user .view-vacancies {
	margin-bottom: 10px;
}

.page-user .region .block-views > h2{
	margin-bottom: 20px;
	color: #804100;
	font-weight: 800;
}

.page-user .region fieldset#edit-picture {
	display: none;
}

/* ============================= entity form for vacancy ==================== */

.logged-in.page-eform-submit-entityform-to-vacancy .field-name-field-company-logo,
.logged-in.page-eform-submit-entityform-to-vacancy .field-name-field-company-name,
.logged-in.page-eform-submit-entityform-to-vacancy .field-name-field-company-description,
.logged-in.page-eform-submit-entityform-to-vacancy .field-name-field-contact-details {
	display: none;
}

.page-eform-submit-entityform-to-vacancy .text-format-wrapper > fieldset,
.page-eform-submit-entityform-to-vacancy .help-block {
	display: none;
}

.page-eform-submit-entityform-to-vacancy  .row {
	border: 1px solid #9bd078;
}
.page-eform-submit-entityform-to-vacancy .form-item-field-category-und .form-item:nth-child(3n+1) {
	float: left;
	clear: left;
	width: 33%;
}
.page-eform-submit-entityform-to-vacancy .form-item-field-category-und .form-item:nth-child(3n+2) {
	float: left;
	width: 33%;
}

.page-eform-submit-entityform-to-vacancy .form-item-field-category-und .form-item:nth-child(3n+3) {
	float: right;
	clear: right;
	width: 33%;
}
.form-radios .radio {
	margin-top: 2px;
	margin-bottom: 2px;
}

.page-eform-submit-entityform-to-vacancy .field-name-field-title {
	display:inline-block;
	width: 73%;
}

.page-eform-submit-entityform-to-vacancy .field-name-field-expiration-date {
	display:inline-block;
	width: 25%;
	float: right;
	margin-right: 2px;
}


.page-eform-submit-entityform-to-vacancy .field-name-field-expiration-date  .date-form-element-content {
	border: none;
	padding: 0;
}

.page-eform-submit-entityform-to-vacancy .field-name-field-expiration-date  .date-form-element-content .form-item-field-expiration-date-und-0-value {
	width: 100%;
	display: inline-block;
}

.page-eform-submit-entityform-to-vacancy .field-name-field-expiration-date  .date-form-element-content .form-item-field-expiration-date-und-0-value .date-padding {
	display: inline-block;
	width: 100%;
}	

.page-eform-submit-entityform-to-vacancy .field-name-field-expiration-date  .date-form-element-content .form-item-field-expiration-date-und-0-value .date-padding .form-item-field-expiration-date-und-0-value-date {
	display: inline-block;
	width: 100%;	
}

.page-eform-submit-entityform-to-vacancy .field-name-field-expiration-date  .date-form-element-content .form-item-field-expiration-date-und-0-value .date-padding .form-item-field-expiration-date-und-0-value-date > input {
	display: inline-block;
	width: 100%;	
}
.page-eform-submit-entityform-to-vacancy .field-name-field-location {
	display: inline-block;
	width: 32%;
	margin-right: 16px;
}

.page-eform-submit-entityform-to-vacancy .field-name-field-salary {
	display: inline-block;
	width: 32%;
	margin-right: 16px;
}

.page-eform-submit-entityform-to-vacancy .field-name-field-experience {
	display: inline-block;
	width: 32%;
}

.page-eform-submit-entityform-to-vacancy .field-name-field-description {
	clear: both;
	margin-top: 25px;
	padding-top: 10px;
}

.page-eform-submit-entityform-to-vacancy .form-control {
	border-color: #9bd078;
}


.page-eform-submit-entityform-to-vacancy .resizable-textarea .cke_chrome .cke_inner .cke_top,
.page-eform-submit-entityform-to-vacancy .resizable-textarea .cke_chrome .cke_inner .cke_bottom {
	background-color: rgba(155, 208, 120, 0.5);
}

.page-eform-submit-entityform-to-vacancy .resizable-textarea .cke_chrome .cke_inner .cke_bottom .cke_resizer {
	border-right-color: darkgreen;
}
	
.page-eform-submit-entityform-to-vacancy .form-actions > button {
	margin-bottom: 15px;
/*	margin-bottom: -1em;*/
}	

.page-eform-entityform-to-vacancy-confirm .row .submission-text > p {
    margin-bottom: 15px;
}

.page-eform-entityform-to-vacancy-confirm .footer {
    margin-top: 400px;
}

.page-eform-entityform-to-vacancy-confirm .note,
.page-eform-entityform-to-vacancy-confirm .terms {
	display: none;
}


/* ================================ vacancy ============================= */
.node-type-vacancy .row {
	border: 1px solid #9bd078;
	padding-bottom: 15px;
}

.node-type-vacancy .field-item > a {
	pointer-events: none;
	color: #333;
}

.my-table {
	display: table;
}

.my-left-wrapper {
	display: table-cell;
	width: 40%;
	vertical-align: top;
	border-right: 1px solid #ccc;	
}

.my-right-wrapper {
	display: table-cell;
	width: 60%;
	vertical-align: top;
	padding-left: 20px;
}

.my-first-wrapper {
	border-bottom: 1px solid #ccc;
}


.my-first-wrapper .field-name-field-company-logo {
	display: inline-block;
	padding-bottom: 10px;
}

.my-first-wrapper .field-name-field-company-name {
	display: inline-block;
	vertical-align: top;
	margin-left: 20px;
}

.my-first-wrapper .field-name-field-company-name .field-label {
	font-weight: 600;
	font-size: 0.8em;
	color: #777;
}

.my-first-wrapper .field-name-field-company-name .field-item {
	font-family: 'Arvo', serif;
	font-weight: 800;
	font-size: 1.6em;
	color: #804100;
}

.my-second-wrapper {
	padding-right: 20px;
}

.my-second-wrapper .my-title,
.my-second-wrapper .field-name-field-company-description .field-label,
.my-second-wrapper .field-name-field-contact-details .field-label,
.my-right-wrapper .field-name-field-description .field-label,
.my-right-wrapper .field-name-field-main-responsibilities .field-label,
.my-right-wrapper .field-name-field-main-requirements .field-label,
.my-right-wrapper .field-name-field-social-guarantees .field-label {
	font-family: 'Arvo', serif;
	font-weight: 800;
	font-size: 1.2em;
	margin-top: 15px;
}

.my-second-wrapper .my-post-date,
.my-second-wrapper .field-name-field-location .field-label,
.my-second-wrapper .field-name-field-salary .field-label,
.my-second-wrapper .field-name-field-experience .field-label,
.my-second-wrapper .field-name-field-category .field-label,
.my-second-wrapper .field-name-field-expiration-date .field-label {
	color: #777;
	font-weight: 400;
}

/* ------------------------------ vacancy edit --------------------------------- */

.page-node-edit .text-format-wrapper > fieldset,
.page-node-edit .help-block {
	display: none;
}

.page-node-edit .form-control {
	border-color: #9bd078;
}

.page-node-edit .resizable-textarea .cke_chrome .cke_inner .cke_top,
.page-node-edit .resizable-textarea .cke_chrome .cke_inner .cke_bottom,
.page-node-edit .grippie {
	background-color: rgba(155, 208, 120, 0.5);
}

.page-node-edit .resizable-textarea .cke_chrome .cke_inner .cke_bottom .cke_resizer {
	border-right-color: darkgreen;
}


/* ======================================== company page ========================== */
.page-company .row > section > h1 {
	margin-bottom: 10px;
}

.page-company .container .row {
	border: 1px solid #9bd078;
}

.page-company .row .views-field-field-company-logo {
	float: right;
	margin: 20px;
	margin-top: 0;
}

.page-company .row .views-field-field-company-name {
	font-weight: 800;
	font-size:2.5em;
	color: #804100;
	margin-bottom: 10px;
}
.page-company .row .views-field-field-company-name .field-content {
	margin-top: 0;
}

.page-company .row .views-companies .views-field:not(.views-field-field-company-name) {
	margin-bottom: 30px;
}	

.page-company .row .views-label {
	font-size: 1.2em;
	font-weight: 800;
}

.page-company .row .view-companies .field-content {
	margin-top: 15px;
	margin-bottom: 20px;
}

.page-company .row .view-companies .views-field-field-company-name .field-content {
	margin-top: 0;
}

.page-company .block-views > h2 {
	margin-bottom: 20px;
	color: #40920a;
	font-weight: 800;
}
.page-company .view-vacancies .row  {
	border: none;
}

.page-company .row .view-vacancies .row:nth-child(n+2) .col:before {
    content: "_________";
    color: #ccc;	
}

.page-company .row .view-vacancies .row:nth-child(n+2) .views-field-title {
    margin-top: 15px;
}

.page-company .row .view-vacancies .col .views-field-title .field-content > a {
	color: #804100;
	font-family: "Arvo", sefir;
	font-size: 1.2em;
	font-weight: 800;	
}

.page-company #block-views-vacancies-block-4 {
	margin-bottom: 15px;
}
/* ================ companies page ============================== */

.page-companies .col-sm-12 {
	border: 1px solid #9bd078;
}


.page-companies .row .view-companies .views-field-field-company-logo {
	display: inline-block;
	float: right;
	
}

.page-companies .row .view-companies .thumbnail {
	height: 180px;
	overflow: hidden;
	padding: 10px;
	border: 1px solid #9bd078;
}

.page-companies .row .view-companies .thumbnail .views-field-field-company-name {
	font-weight: 800;
	font-size:1.5em;
	float: left;
	max-width: 60%;
	margin-bottom: 10px;
}
.page-companies .row .view-companies .thumbnail .views-field-field-company-name .field-content > a {
	color: #804100;
}

.page-companies .row .view-companies .field-content > a > img {
	float: right;
}


.page-companies .row .view-companies .thumbnail .views-field-field-company-description {
	clear: left;
}

/* ======================================= about us ================================================= */
.page-node-264 .main-container .row {
	border: 1px solid #9bd078;
}

.page-node-264 .main-container .col-sm-12 {
	margin-bottom: 15px;
}

.page-node-264 .footer {
	margin-top: 150px;
}

.about-us {
	width: 80%;
	margin: auto;
	margin-top: 50px;
}
.title-part {
	font-size: 1.5em;
	border: 1px solid #9bd078;
	text-align: center;
	padding: 20px 60px 30px 60px;
	margin-bottom: 25px; 
}

.title-part > img {
	width: 80px;
	height: 80px;
	position: center;
	border-radius: 80px;
	display: block;
	margin: auto;
	margin-top: -55px;
}

.body-part {
	width:90%;
	margin: 15px auto;
	column-count: 3;
}

.title2-part {
	width:90%;
	margin: auto;
	font-family: "Arvo", serif;
	color: #55ba13;
	font-size: 3em;	
	font-weight: 800;
}

.body2-part {
	width:90%;
	margin: 15px auto;
}

.footer-part {
	width:90%;
	margin: auto;
	font-family: "Arvo", serif;
	color: #55ba13;
	font-size: 1.2em;
	font-weight: 800;
	text-align: center;
	margin: 20px;
}

/* ================================================================================================== */
/* ===================================== mobile version ============================================= */
/* ================================================================================================== */

@media (max-width: 768px) {
	html {
		font-size: 12px;
	}
	body.not-logged-in {
		background-size: auto 520px;
	}
	body.not-logged-in:before {
		height: 520px;
	}	
	
	body.logged-in {
		background-size: auto 320px;
	}
	body.logged-in:before {
		height: 320px;
	}	
	
	
	.front #block-user-login {
		width: 100%;
		margin-bottom: 40px;
	}
	.front .main-container {
		margin-top: 40px;
	}
	.not-front .main-container	{
		margin-top: 40px;
	}
	.front.not-logged-in #block-nuss-block-frontpage-filters {
		width: 100%;  
	}
	.front.not-logged-in .row .region #block-views-vacancies-block-1 {
		margin-top: 240px;
	}
	.front.logged-in .row .region #block-views-vacancies-block-1 {
		margin-top: 80px;
	}
	.container-fluid.secondary .container .navbar-collapse > nav > ul > li > a {
		padding: 5px 5px;
	}
	.navbar-nav {
		margin: 7.5px 0;
	}
	.navbar-toggle {
		margin: 5px 0 5px 10px;
	}
	.container-fluid.secondary .container .navbar-collapse {
		padding-right: 5px;
	}
	
	.container-fluid.primary .container .navbar-collapse > nav > ul > li {
		border-right: none;
	}
	.front .row .view-vacancies .row .col:nth-child(n+2):before {
		content: "_________";
		color: #ccc;
	}
	.front .main-container .view-vacancies .views-field-title {
		margin-top: 15px;
	}
/*	.text-center {
		text-align: left;
	}*/
	.my-form-wrapper > ul > li {
		display: inline;
		float: right;
		padding: 10px;
		font-size: 0.9em;
	}
	.my-form-wrapper > ul > li:nth-child(1) {
		border-left: 1px solid #999;
		padding-right: 0;
		padding-left: 5px;
	}
	.my-form-wrapper > ul > li:nth-child(2) {
		padding-left: 0;
		padding-right: 5px;
	}
	.front #block-user-login .my-form-wrapper > ul {
		margin-left: 40px;
	}
	.page-vacancies .col-sm-3 {
		width: 100%;
	}
	.page-vacancies .col-sm-9 {
		width: 100%;
		margin-top: 20px;
	}
	.page-vacancies .row .fake-header {
		display: block;
		font-family: 'Arvo', serif;
		color: white;
		margin-top: -1.4em;
		margin-left: 10px;
		text-transform: uppercase;
		font-weight: 800;
		border-bottom: none;		
		font-size: 2em;
	}
	.page-vacancies .row > section > h1 {
		display: none;
	}

	.page-vacancies .col-sm-3 .views-exposed-form > button {
		color: #333;
		background: none;
		border: none;
		padding: 10px;
	}

	.page-vacancies .col-sm-3 .views-exposed-form > button:before {
		margin-right: 0.5em;
		color: white;
		font-family: FontAwesome;
		content: "\f03a";
	}
	.page-vacancies .col-sm-3 .views-exposed-form > button {
		display: block;
	}

	.page-vacancies .col-sm-3 .views-exposed-widgets.collapse:not(.in) {
		display: none;
	}
	
	.page-vacancies .view-content .views-field-field-company-logo {
		margin-right: 5px;	
		width: 25%;
	}

	.page-vacancies .view-content .views-field-field-location {
		width: 74%;
	}

	.page-vacancies .view-content .views-field-field-category {
		margin-top: 10px;
		width: 100%;
	}

	.page-eform-submit-entityform-to-vacancy .form-item-field-category-und .form-item:nth-child(3n+1),
	.page-eform-submit-entityform-to-vacancy .form-item-field-category-und .form-item:nth-child(3n+2),
	.page-eform-submit-entityform-to-vacancy .form-item-field-category-und .form-item:nth-child(3n+3) {
		float: none;
		clear: both;
		width: 100%;
	}
	.page-eform-submit-entityform-to-vacancy .field-name-field-title,
	.page-eform-submit-entityform-to-vacancy .field-name-field-expiration-date,
	.page-eform-submit-entityform-to-vacancy .field-name-field-location,
	.page-eform-submit-entityform-to-vacancy .field-name-field-salary,
	.page-eform-submit-entityform-to-vacancy .field-name-field-experience {
		width: 100%;
	}
	.page-eform-submit-entityform-to-vacancy .field-name-field-expiration-date,
	.page-eform-submit-entityform-to-vacancy .field-name-field-expiration-date .date-no-float,
	.page-eform-submit-entityform-to-vacancy .field-name-field-expiration-date .date-no-float .container-inline-date .form-item {
		margin-right: 0;
		width: 100%;
	}
	.front.logged-in #block-nuss-block-frontpage-filters {
		width: 100%;
	}
	.container-fluid.secondary .navbar-header > a:before {
		margin-left: -1em;
		font-family: FontAwesome;
		content: url(../img/small_logo.png);	
	}
	.container-fluid.secondary .navbar-header > a > img {
		display: none;
	}
	.container-fluid.secondary .container .navbar-collapse > nav > ul > li > a {
	text-transform: capitalize;
	color: #804100;
	font-weight: 600;
	font-family: "Arvo", serif;
	font-size: 0.7em;
	}
	.page-company .row .view-vacancies .row .col:nth-child(n+2):before {
		content: "_________";
		color: #ccc;
	}
	.page-company .row .view-vacancies .row .views-field-title {
		margin-top: 15px;
	}
	.page-company .block-views > h2 {
		margin-bottom: 5px;
	}
	.note {
		margin-top: 10px;
	}
	.body-part,
	.body2-part {
		width:100%;
		margin-left: 0;
		margin-right: 0;
		column-count: 1;
		text-align: justify;
	}	
	.node-type-vacancy .main-container .row > section > h1 {
		color: #3c763d;
		margin-top: 15px;
	}
	.not-logged-in .create-acc {
		float: none;
		text-align: left;
		width: 100%;
		border: 1px solid #9bd078;
		padding: 5px;
		margin-bottom: 15px;
	}
}


